/* Background */ .bg { color: #e5e5e5; background-color: #000000; }
/* PreWrapper */ .chroma { color: #e2e2e2; background-color: #1b1b1b; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #ff0000 }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #50cdff;  }
/* KeywordConstant */ .chroma .kc { color: #5591ec}
/* KeywordDeclaration */ .chroma .kd { color: #5591ec }
/* KeywordNamespace */ .chroma .kn { color: #5591ec;}
/* KeywordPseudo */ .chroma .kp { color: #ffffff;  }
/* KeywordReserved */ .chroma .kr { color: #ffffff;  }
/* KeywordType */ .chroma .kt { color: #ffffff;  }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: #82d83c }
/* NameBuiltin */ .chroma .nb { color: #23f7b7 }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #13fdb7 }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf { color: #ffdb3a }
/* NameFunctionMagic */ .chroma .fm { color: #f7e223 }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {}
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt {  }
/* NameVariable */ .chroma .nv  {}
/* NameVariableClass */ .chroma .vc  {}
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld { color: #ffff00;  }
/* LiteralString */ .chroma .s { color: #00ffff;  }
/* LiteralStringAffix */ .chroma .sa { color: #00ffff;  }
/* LiteralStringBacktick */ .chroma .sb { color: #00ffff;  }
/* LiteralStringChar */ .chroma .sc { color: #00ffff;  }
/* LiteralStringDelimiter */ .chroma .dl { color: #00ffff;  }
/* LiteralStringDoc */ .chroma .sd { color: #00ffff;  }
/* LiteralStringDouble */ .chroma .s2 { color: #ffaa3a;  }  /* Textos*/
/* LiteralStringEscape */ .chroma .se { color: #00ffff;  }
/* LiteralStringHeredoc */ .chroma .sh { color: #00ffff;  }
/* LiteralStringInterpol */ .chroma .si { color: #00ffff;  }
/* LiteralStringOther */ .chroma .sx { color: #00ffff;  }
/* LiteralStringRegex */ .chroma .sr { color: #00ffff;  }
/* LiteralStringSingle */ .chroma .s1 { color: #00ffff;  }
/* LiteralStringSymbol */ .chroma .ss { color: #00ffff;  }
/* LiteralNumber */ .chroma .m { color: #b3ff00;  }
/* LiteralNumberBin */ .chroma .mb { color: #b3ff00 }
/* LiteralNumberFloat */ .chroma .mf { color: #b3ff00 }
/* LiteralNumberHex */ .chroma .mh { color: #b3ff00 }
/* LiteralNumberInteger */ .chroma .mi { color: #b3ff00 }
/* LiteralNumberIntegerLong */ .chroma .il { color: #b3ff00 }
/* LiteralNumberOct */ .chroma .mo { color: #6cec22 }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow {  }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #50ac5c }
/* CommentHashbang */ .chroma .ch { color: #50ac5c }
/* CommentMultiline */ .chroma .cm { color: #50ac5c }
/* CommentSingle */ .chroma .c1 { color: #50ac5c }
/* CommentSpecial */ .chroma .cs { color: #007f7f }
/* CommentPreproc */ .chroma .cp { color: #00ff00;  }
/* CommentPreprocFile */ .chroma .cpf { color: #00ff00;  }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w {  }
