* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #C2C8CD;
}

/* Style the header */
header {
  background-color: #39566F;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: DejaVu Sans Mono, monospace;

}

/* Create two columns/boxes that floats next to each other */
nav {
  width: 100%;
  background-color: #273746;
  padding: 10px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

.link
{
  text-decoration-style: none;
  text-decoration-line: none;
  color: white;
  font-size: 20px;
  font-family: DejaVu Sans Mono, monospace;
}

.box
{
  background-color: #001120;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  padding: 10px 20px;
  display: inline;
  margin-left: 5px;

}

.subbox
{

  background-color: #A0C2E0;
  padding: 10px 30px;
  margin: auto;
  width: 70%;

}


.code
{

  background-color: #F2FAB8;
  padding: 10px 30px;
  margin: auto;
  width: 70%;
  font-family: DejaVu Sans Mono, monospace;
  font-size: 15px;




}


article {
  padding: 20px;
  width: 100%;
  background-color: #E1E3E6;
  font-size: 20px;
  text-align: justify;
  
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #273746;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: DejaVu Sans Mono, monospace;

}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 1000px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}