* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}


body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
/* background-image: url("../img/fondo.png"); */
}


.c1
{
  width: 20px;
  position: absolute;
  top: 20px
}

.c2
{
  width: 10px;
  position: absolute;
  top: 20px;
  right: 20px;

}


body {
  background-color: #1E1E24;
  margin: 0px;
  padding: 0px;
  height: 2000px;
}


.top h1{ 
  color: #ED254E;
  font-weight: 900;
  font-size: 100px;
  margin: 30px;
  text-align: center;
}

.top h2
{
  color: #ED254E;
  margin: 30px;
  text-align: center;
  font-size: 30px;
}

.top
{
  margin-bottom: 100px;
  z-index:1;

}

.mid 
{
  margin: 30px;
}

.mid h2
{
  color: #ED254E;
  font-weight: 900;
  font-size: 40px;
}

.mid h3
{
  color: white;
  font-weight: 600;
}

.mid p
{
  color: white;
  text-align: justify;
  text-justify: inter-word;
  font-size: 20px;
  margin-block-start:0px;

}

.mid img
{
  width: 600px;
  display: inline-block;
  vertical-align:top; /* <---- this */

}
.mid .txt
{  
  width: 900px;
  display: inline-block;
  margin-right: 20px;
  vertical-align:top; /* <---- this */
}


.mid .dimg
{  
  display: inline-block;
  margin-right: 20px;
  vertical-align:top; /* <---- this */
  float: right;

}



@media only screen and (max-width: 1300px) 
{

  

}



@media only screen and (max-width: 700px) 
{


  
}