/* *{ outline: solid 1px tomato;} */

body
{
    background-color: #1d1d1d;
    background-color: #d4d4d4;

    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}



.top  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .top li {
    float: left;
  }
  
  .top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .b1:hover{
    background-color: #4c74af;
  }

  .b2:hover{
    background-color: #af4c91;
  }


  .r
   {
       float: right;
   }

   .img
   {
       width: 47px;
   }


   .contenido
    {
        margin-top: 120px;
    }


/* *************************************** */
    .uno
    {
        background-color: #4c74af;
    }

    .dos
    {
        background-color: #af4c91;
    }


    .sidebar {
        position: fixed;
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.3s;
        padding: 1rem 0;
        box-sizing:border-box;
        margin-top: 47px;
    }
    
    .sidebar .boton-cerrar {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-size: 2rem;
        display: block;
        padding: 0;
        line-height: 1.5rem;
        margin: 0;
        height: 32px;
        width: 32px;
        text-align: center;
        vertical-align: top;
    }
    
    .sidebar ul, .sidebar li{
        margin:0;
        padding:0;
        list-style:none inside;
    }
    
    .sidebar ul {
        margin: 4rem auto;
        display: block;
        width: 80%;
        min-width:200px;
    }
    
    .sidebar a {
        display: block;
        font-size: 120%;
        color: #eee;
        text-decoration: none;
        
    }
    
    .sidebar a:hover{
        font-weight: bold;
        margin: 1px;
    
    }
    
    #contenido {
        transition: margin-left .4s;
        padding: 1rem;
    }
    


    p
    {
        color: white;
        font-weight: bold;
        font-size: large;
    }